<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

	<filter>
     	 	<filter-name>MyFilter</filter-name>
        	<filter-class>com.kogent.filter.MyFilter</filter-class>
    	</filter>

	<filter-mapping>
        	<filter-name>MyFilter</filter-name>
        	<servlet-name>WelcomeServlet</servlet-name>
    	</filter-mapping>


	<filter>
		<filter-name>messageFilter</filter-name>
		<filter-class>com.kogent.filter.MsgFilter</filter-class>
		<init-param>
			<param-name>message</param-name>
			<param-value>A message to you!</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>messageFilter</filter-name>
		<url-pattern>/filter.jsp</url-pattern>
	</filter-mapping>


	<filter>
		<filter-name>prePost</filter-name>
		<filter-class>com.kogent.filter.FilterPrePost</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>prePost</filter-name>
		<servlet-name>ResponseServlet</servlet-name>
	</filter-mapping>



	<servlet>
		<servlet-name>WelcomeServlet</servlet-name>
		<servlet-class>com.kogent.servlets.WelcomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WelcomeServlet</servlet-name>
		<url-pattern>/WelcomeServlet</url-pattern>
	</servlet-mapping>


	<servlet>
        	<servlet-name>WelcomeServletAnnot</servlet-name>
        	<servlet-class>com.kogent.servlets.WelcomeServletAnnot</servlet-class>
    	</servlet>
    	<servlet-mapping>
        	<servlet-name>WelcomeServletAnnot</servlet-name>
        	<url-pattern>/WelcomeServletAnnot</url-pattern>
    	</servlet-mapping>


	<servlet>
        	<servlet-name>ResponseServlet</servlet-name>
        	<servlet-class>com.kogent.servlets.ResponseServlet</servlet-class>
    	</servlet>
    	<servlet-mapping>
        	<servlet-name>ResponseServlet</servlet-name>
        	<url-pattern>/ResponseServlet</url-pattern>
    	</servlet-mapping>

	<session-config>
		<session-timeout>
			30
		</session-timeout>
	</session-config>
</web-app>
