<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.1" 
	xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
	http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

<servlet>
	<servlet-name>EmployeeList</servlet-name>
	<servlet-class>com.kogent.hibernate.EmployeeList</servlet-class>

</servlet>

<servlet>
	<servlet-name>EmployeeListServlet</servlet-name>
	<servlet-class>com.kogent.hibernate.EmployeeListServlet</servlet-class>

</servlet>

<servlet>
	<servlet-name>AddEmployeeServlet</servlet-name>
	<servlet-class>com.kogent.hibernate.AddEmployeeServlet</servlet-class>

</servlet>

<servlet>
	<servlet-name>DeleteEmployeeServlet</servlet-name>
	<servlet-class>com.kogent.hibernate.DeleteEmployeeServlet</servlet-class>

</servlet>

<servlet>
	<servlet-name>EditEmployeeServlet</servlet-name>
	<servlet-class>com.kogent.hibernate.EditEmployeeServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>EmployeeList</servlet-name>
	<url-pattern>/EmployeeList</url-pattern>

</servlet-mapping>

<servlet-mapping>
	<servlet-name>EmployeeListServlet</servlet-name>
	<url-pattern>/EmployeeListServlet</url-pattern>
</servlet-mapping>

<servlet-mapping>
	<servlet-name>AddEmployeeServlet</servlet-name>
	<url-pattern>/AddEmployeeServlet</url-pattern>

</servlet-mapping>

<servlet-mapping>
	<servlet-name>DeleteEmployeeServlet</servlet-name>
	<url-pattern>/DeleteEmployeeServlet</url-pattern>
</servlet-mapping>

<servlet-mapping>
	<servlet-name>EditEmployeeServlet</servlet-name>
	<url-pattern>/EditEmployeeServlet</url-pattern>

</servlet-mapping>

</web-app>
